.layout {
  position: relative;
  width: 100%;
  height: 100%;
  padding: calc(var(--space-base) / 2);
  overflow: auto;
}

.layout> :not(:first-child) {
  margin-top: var(--space-base);
}

.layout::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: var(--color-back-ground);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.25)'%3E%3Ccircle data-color='outline' fill='none' stroke='%23828D99' stroke-width='25' cx='50' cy='50' r='.5'%3E%3C/circle%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
  opacity: var(--bg-opacity);
  z-index: -1;
}