.todo-item {
  border: 1px solid var(--color-border);
  border-radius: var(--box-border-radius);
  padding: var(--space-base);
  display: flex;
  justify-content: space-between;
  align-items: start;
  animation: item-leave 3s;
}

.todo-item .todo-item-left {
  max-width: 90%;
  display: flex;
  align-items: start;
}

.todo-item .todo-item-left .todo-item-content {
  margin-left: var(--space-base);

}

.todo-item .todo-item-left .done {
  text-decoration: line-through;
  color: var(--color-secondary);
  transition: all 0.3s ease;
}